
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Team Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="pos-logo">
            <a href="https://youtu.be/dQw4w9WgXcQ?si=7Jk3XXtue7P64M5p"  target="_blank">
                <img src="/static/image/logo2.png" alt="" class="logo" align="center">
            </a>
        </div>
        <div class="nav-links">
            <a href={% url 'user_home' %} class="nav-link">Вернутся</a>
        </div>
    </nav>

    <div class="base-profile">
        <div class="profile-information">
            <div class="left-side">
                <div class="avatar">
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" alt="Аватар">
                    {% else %}
                        <img src="{% static 'image/default.png' %}" alt="Аватар">
                    {% endif %}
                </div>
            </div>
            <div class="riпht-side">
                <div class="name-user">
                    <h5>{{ profile.user.username }}</h5>
                </div>
                <div class="date-brith">
                    <p>{{ profile.birth_date|default:"Не указана" }}</p>
                </div>
            </div>
        </div>

        <div class="privat-user-settings">
            <a href={% url 'redact_profile' %}>Редактировать</a>
        </div>
    </div>


    <div class="bot-info">
        <div class="my-chats">
            <aside class="sidebar">
    <h3>Мои группы</h3>

    <ul>
        {% if search_query %}
            {% else %}
            {% for g in groups %}
                <li {% if g.id == current_group_id %}class="active"{% endif %}>
                <a href="{% url 'groups:group_detail' g.pk %}">
                    {% if g.icon %}
                    <img src="{{ g.icon.url }}" class="icon">
                    {% else %}
                    <img src="{% static 'images/default_group.png' %}" class="icon">
                    {% endif %}
                    {{ g.name }}
                </a>
                </li>
            {% empty %}
                <li class="muted">Групп нет</li>
            {% endfor %}
            {% endif %}
        </ul>
    </aside>
        </div>

        <div class="my-self">
            <div class="description-user">   
                <p class="text-muted mb-0">{{ profile.description|default:"Мне пока нечего расказать о себе" }}</p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>