{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать профиль</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="pos-logo">
            <a href="{% url 'user_home' %}">
                <img src="/static/image/logo2.png" alt="" class="logo" align="center">
            </a>
        </div>
        <div class="nav-links">
            <a href="{% url 'profile' %}" class="nav-link">Назад</a>
        </div>
    </nav>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="base-profile">
            <div class="profile-information">
                <div class="left-side">
                    <div class="avatar">
                        {% if profile.avatar %}
                            <img src="{{ profile.avatar.url }}" alt="Аватар">
                        {% else %}
                            <img src="{% static 'image/default.png' %}" alt="Аватар">
                        {% endif %}
                        <div class="avatar-input">
                            {{ form.avatar }}
                        </div>
                    </div>
                </div>

                <div class="riпht-side">
                    <div class="date-brith">
                        <label>Дата рождения</label>
                        {{ form.birth_date }}
                    </div>
                </div>
            </div>

            <div class="privat-user-settings">
                <button type="submit" name="remove_avatar" class="delete-btn">Удалить аватар</button>
                <button type="submit" class="save-btn">Сохранить</button>
            </div>    
        </div>

        <div class="bot-info">
            <div class="my-chats">
                <div>
                    <a href="http://127.0.0.1:8000/groups/create/">Create</a>
                    <form action={% url "create_group" %}>
                        <button class="create_group">Создать группу</button>
                    </form>
                </div>
                <div>
                    <h3>Чаты ниже</h3>
                </div>
            </div>

            <div class="my-self">
                <div class="description-user">
                    <label>Описание</label>
                    {{ form.description }}
                </div>
            </div>
        </div>
    </form>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

