{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="user-dashboard">
    <nav class="navbar">
        <a href="https://youtu.be/dQw4w9WgXcQ?si=7Jk3XXtue7P64M5p" class="logo">TP</a>
        <div class="nav-links">
            <a href="http://127.0.0.1:8000/indev"class="nav-link">Чат</a>
            <a href="http://127.0.0.1:8000/indev" class="nav-link">Профиль</a>
            <a href="http://127.0.0.1:8000/indev" class="nav-link">Очки</a>
            <a href="http://127.0.0.1:8000/indev" class="nav-link">Настройки</a>
        </div>
    </nav>
</section>
    <section class="hero">

        

    </section>
    <footer class="footer_user">
        <a href="https://youtu.be/dQw4w9WgXcQ?si=7Jk3XXtue7P64M5p" target="_blank" class="logo">TP</a>
        <div class="mess">
            <div></div>
            <div class="footer_link_1">
                <h2>Контакты</h2>
                <a href="http://127.0.0.1:8000/indev" class="nav-link">Telegram</a>
                <a href="http://127.0.0.1:8000/indev" class="nav-link">Почта</a>
                <a href="http://127.0.0.1:8000/indev" class="nav-link">Ментальная связь</a>
            </div>
            <div class="footer_link_1">
                <h2>О проекте</h2>
                <a href="https://github.com/ManK0-is-here/work_chat" target="_blank" class="nav-link">GitHub</a>
            </div>
        </div>
        <div class="text-center">
            <p></p>
            <p class="center_pls">&copy; Создано "ManK0 Inc", {% now "Y" %}</p>
            <p></p>
        </div>
    </footer>
{% endblock content %}