{% extends "base.html" %}
{% load static %}

{% block content %}
    <nav class="navbar">
        <div class="left-side-nav">
            <a href="https://youtu.be/dQw4w9WgXcQ?si=7Jk3XXtue7P64M5p" class="back" >
                <img src='/static/image/logo.png' width="130" height="130" >
            </a>
        </div>
        <div class="riht-side-nav">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="nav-link"><span class="user-greeting">Профиль:{{ user.username }}</span></a>
            {% endif %}
            <a href="http://127.0.0.1:8000/groups/" class="nav-link">Группы</a>
            <a href={% url 'indev' %} class="nav-link">Настройки</a>
        </div>
    </nav>
    
    <section class="user-body">
        <dev>
            <h2>Сообщения</h2>
            <div class="box"></div>
        </dev>
        <dev>
            <h2>Активные задачи</h2>
            <div class="box"></div>
        </dev>
        <dev>
            <h2>Завершённые задачи</h2>
            <div class="box"></div>
        </dev>
    </section>

    <footer class="footer_user">
        
        <div class="mess">
            <div class="logo_div"><a href="https://youtu.be/dQw4w9WgXcQ?si=7Jk3XXtue7P64M5p" target="_blank" class="logo_footer">TP</a></div>
            <div class="footer_link_1">
                <h2>Контакты</h2>
                <a href="https://t.me/python_community_rus" class="nav-link">Telegram</a>
                <a href="http://127.0.0.1:8000/indev" class="nav-link">Почта</a>
                <a href="http://127.0.0.1:8000/indev" class="nav-link">Ментальная связь</a>
            </div>
            <div class="footer_link_1">
                <h2>О проекте</h2>
                <a href="https://github.com/ManK0-is-here/work_chat" target="_blank" class="nav-link">GitHub</a>
            </div>
        </div>
        <div class="text-center">
            <p></p>
            <p class="center_pls">&copy; Создано "ManK0 Inc", {% now "Y" %}</p>
        </div>
    </footer>
{% endblock content %}