{% extends "base_groups.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
    <div class="group-card">
        <div class="group-header">
            <div class="group-icon-main">
                {% if group.icon %}
                    <img src="{{ group.icon.url }}" alt="Иконка группы" class="group-icon">
                {% else %}
                    <img src="{{ group.icon.url }}" alt="Иконка по умолчанию" class="group-icon">
                {% endif %}
            </div>
            <div class="group-title">
                <h2 >{{ group.name }}</h2>
            </div>

            <div class="pos-l">
                <button class="menu-btn" onclick="toggleMenu()"><img src="/static/image/menu.png" alt="" width="30px"  height="30px"></button>
                
                <div id="menu-panel" class="menu-panel">
                    {% if user in group.members.all %}
                        {% if user == group.creator %}
                            <a href="{% url 'groups:group_edit' group.pk %}" class="btn-action btn-edit">✏️ Редактировать</a>
                            <a href="{% url 'groups:group_delete' group.pk %}" class="btn-action btn-delete">❌ Удалить</a>
                        {% else %}
                            <a href="{% url 'groups:group_leave' group.pk %}" class="btn-action btn-leave">🚪 Выйти из группы</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'groups:group_join' group.pk %}" class="btn-action btn-join">Войти в группу</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="group-description">
            <h3>Описание</h3>
            <p>{{ group.description|default:"Описание отсутствует" }}</p>
        </div>

        <div class="group-members">
            <h3>Участники</h3>
            <ul>
                {% for member in group.members.all %}
                    <li>{{ member.username }}</li>
                {% empty %}
                    <li>Пока никого нет</li>
                {% endfor %}
            </ul>
        </div>

        <div class="chatbutton">
            {% if user in group.members.all %}
                <a href="{% url 'groups:group_chat' group.pk %}" class="btn-chat">Перейти в чат</a>
            {% endif %}   
        </div>     
    </div>
{% endblock %}

