{% extends "base.html" %}
{% load static %}
{% block content %}
    <nav class="navbar">
        <a href="https://youtu.be/dQw4w9WgXcQ?si=7Jk3XXtue7P64M5p"  target="_blank" class="logo"><img src="static/image/logo.png" alt="" height="150" width="150"  align="center"></a>
        <div class="nav-links">
            <a href={% url 'user_home' %} class="nav-link">Войти</a>
            <a href={% url 'indev' %} class="nav-link">О нас</a>
            <a href={% url 'indev' %} class="nav-link">Контакты</a>
        </div>
    </nav>
    
    <section class="hero">

        <div class="hero-content">

            <h1 class="hero-title floating">
                Задания + TeamPulse = <br>Решения
            </h1>

            <p class="hero-subtitle">
                Для максимально точной и продуктивной работы команды
            </p>
            <form action={% url 'register' %}>
                <button   class="link_but">Зарегистрироваться</button>
            </form>
            
        </div> 

    </section>
{% endblock content%}